* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);
  font-family: 'Rubik', sans-serif;
}

.modal_login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  border-radius: 10px;
  width:400px;
  min-height: 300px;
  background-color: rgba(250, 250, 253, 0.945);
}

.logo {
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 50px;
    margin-top: 50px;
}

input {
  all: unset;
  width: 250px;
  padding: 8px 10px;
  border: 1px solid #645FFB;
  border-radius: 8px;
  margin: 10px 0px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 20px;
}
h4 {
  font-size: 12px;
  margin: 5px 5px;
}
h5 {
  all: unset;
  font-size: 12px;
}
.list {
  width: 80%;
  margin-top: 30px;
  margin-left: 100px;
  display: flex;
  justify-content: flex-start;
  gap: 8px 20px;
  flex-wrap: wrap;
  background-color: rgba(250, 250, 253, 0.945);
  box-shadow: 0px 0px 3px 3px rgba(135, 135, 138, 0.377);
  border-radius: 8px;
  padding: 10px 10px;
}
.opcoes_list {
  cursor: pointer;
  gap: 20px;
}
.alert_lapis {
  position: absolute;
}

section {
  padding: 5px 10px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  gap: 20px;
}

.cadastrar {
  margin-top: 30px;
  cursor: pointer;
}

.modal_cadastrar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: rgba(250, 250, 253, 0.945);
}

.modal_menu {
  position: fixed;
  left: 15px;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  width: 150px;
  min-height: 90%;
  background-color: rgba(250, 250, 253, 0.945);
  box-shadow: 0px 0px 3px 3px rgba(135, 135, 138, 0.377);
}
.btn_itens_menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.logout {
  position: absolute;
  bottom: 20px;
}
.subtitulo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.modal_erro_login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  width: 300px;
  min-height: 50px;
  background-color: rgba(250, 250, 253, 0.945);
}

.modal_erro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  all: unset;
  padding: 5px 15px;
  width: 100px;
  height: 25px;
  font-size: 15px;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  border: 0;
  color: #fff;
  background-color: #645FFB;
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button:hover {
  background-color: #5b57e0;
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

a {
  all: unset;
  cursor: pointer;
  margin-bottom: 7px;
}

.flexR {
  display: flex;
  align-items: baseline;
}
